<div class="content container-fluid">
    <div>
        <p class="text-center head">Welcome</p>
    </div>
    <div class="row m-2 pt-5">
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/circle/profile-modified.png" alt="Profile">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="CustomerprofileComponent">Profile</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row  m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/insuranceaccount.jpg" alt="Documents">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="CustomerdocumentsComponent">Documents</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/insuranceaccount.jpg" alt="insurance amount">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="InsuranceaccountComponent">Insurance Detail</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

