<div class="container-fluid ">
    <p class="text-center m-3 head">Profile</p>
    <div class="container">
        <table class="table table-bordered mx-auto w-auto">
            <tbody>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" class="form-control" name="firstName" value={{profile?.firstName}} disabled></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" class="form-control" name="lastName" value={{profile?.lastName}} disabled></td>
                </tr>
                <tr>
                    <td>Login ID:</td>
                    <td><input type="text" class="form-control" name="loginId" value={{profile?.loginId}} disabled></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" class="form-control" name="loginId" value={{profile?.email}} disabled></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" class="form-control" name="loginId" value={{profile?.city}} disabled></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input type="text" class="form-control" name="loginId" value={{profile?.state}} disabled></td>
                </tr>
                <tr>
                    <td>Qualification:</td>
                    <td><input type="text" class="form-control" name="loginId" value={{profile?.qualification}} disabled></td>
                </tr>
            </tbody>
            
        </table>
    </div>

</div>

