<div class="container ">
    <p class="text-center m-3 head">Change Password</p>
    <form [formGroup]="passwordData" (ngSubmit)="changePassword()" >
        <div class="conatiner">
            <table class="table table-bordered mx-auto w-auto">
                <tbody>
                    <tr>
                        <td>Current Password: </td>
                        <td><input type="text" class="form-control" name="currentPassword" formControlName="currentPassword"></td>
                        <br>
                        <span style="color:red" *ngIf="currentPasswordValidator && currentPasswordValidator.invalid && currentPasswordValidator.touched">This field is required</span>
                    </tr>
                    <tr>
                        <td>New Password: </td>
                        <td><input type="text" class="form-control" name="newPassword" formControlName="newPassword"></td>
                        <span style="color:red" *ngIf="newPasswordValidator && newPasswordValidator.invalid && newPasswordValidator.touched">This field is required</span>
                    </tr>
                    <tr>
                        <td>Confirm Password: </td>
                        <td><input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"></td>
                        <span style="color:red" *ngIf="confirmPasswordValidator && confirmPasswordValidator.errors?.['mustMatch']">Confirm Password didn't Match</span>
                </tbody>
            </table>
        </div>
        <div class="container-fluid mt-auto">
            <p class="text-center"><button class="btn btn-danger" [disabled]="passwordData.invalid">Change Password</button></p>
        </div>
    </form>
</div>

