<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" 
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/homeImg/1.jpg" class="corousel-img" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/homeImg/2.jpg" class="corousel-img" alt="...">
        </div>
        <div class="carousel-item">
            <img src="assets/homeImg/3.jpg" class="corousel-img" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section id="aboutUs">
    <div class="row aboutus">
        <div class="col">
            <img src="assets/homeImg/aboutus.jpeg" class="about-img" alt="">
        </div>
        <div class="col about-text">
            <p>eInsurance provides insurance to protect your
                family, save your money and many
                other insurance policies just from your couch. </p>
            <p>
                eInsurance is country first plateform that
                provides all types of insurances
                digitally.
            </p>
        </div>
    </div>
</section>
<section id="contact">
    <div class="row contact">
        <div class="col">
            <p>eInsurance</p>
            <a href="#"><span class="fab fa-facebook-f p-2"></span></a>
            <a href="#"><span class="fab fa-twitter p-2"></span></a>
            <a href="#"><span class="fab fa-instagram p-2"></span></a>
            <a href="#"><span class="fab fa-pinterest-p p-2"></span></a>
        </div>
        <div class="col">
            <h6>CUSTOMER CARE</h6>
            <a>
                <p class="cc">Contact Us</p>
            </a>
            <a>
                <p class="cc">Privacy Policy</p>
            </a>
            <a>
                <p class="cc">Terms & Condtions</p>
            </a>
        </div>
        <div class="col">
            <h6>
                <p class="pb-3 font-bold">Email Us To Get Contact</p>
            </h6>
            <input type="text" class="border-zinc-900 border-2 w-60 h-10" placeholder="username@domain.com"><br>
            <button class="btn btn-primary w-32 h-12 mt-2">Subscribe</button>
        </div>
    </div>
</section>