<div class="container-fluid ">
    <p class="text-center m-3 head">Add City</p>

    <form [formGroup]="cityData" (ngSubmit)="addCity()">
        <div class="container">
            <table class="table table-bordered mx-auto w-auto">
                <tbody>
                    <tr>
                        <td>State: </td>
                        <td><select name="stateName" class="form-control" formControlName="stateName">
                                <option *ngFor="let item of state" value={{item.name}}>{{item.name}}</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td>City: </td>
                        <td><input type="text" class="form-control" name="name" formControlName="name"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="text-center"><button class="btn btn-danger" id="printBtn">Add</button></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
  
</div>