<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold font-style: italic text-white" href="#">e-Insurance</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" routerLink="CustomerdashboardComponent">DASHBOARD</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        CUSTOMER
                    </a>
                    <ul class="dropdown-menu bg-dark text-white">
                        <li class="nav-item dropdown ">
                            <a class="dropdown-item text-white" routerLink="CustomerprofileComponent">PROFILE</a>
                        </li>
                        <li><a class="dropdown-item text-white" routerLink="CustomerchangepasswordComponent">CHANGE PASSWORD
                            </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white " href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        INSURANCE PLANS
                    </a>
                    <ul class="dropdown-menu bg-dark text-white" >
                        <li class="nav-item dropdown" *ngFor="let type of insuracetype">
                            <a class="dropdown-item  text-white" (click)="setScheme(type.name)" >{{type.name}}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        INSURANCE DETAIL
                    </a>
                    <ul class="dropdown-menu bg-dark text-white">
                        <li class="nav-item ">
                            <a class="nav-link text-white" routerLink="InsuranceaccountComponent">Insurance Account</a>
                        </li>
                        <li><a class="dropdown-item text-white" routerLink="PolicyclaimComponent">Policy Claim
                            </a></li>
                    </ul>
                </li>
               
                <li class="nav-item ">
                    <a class="nav-link text-white" (click)="logout()">LOGOUT</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

