.card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
    border-color: #007bff !important;
}

.nav-item:hover{
    background-color: red;
    border-radius: 5px;
}

.dropdown-item:hover{
    background-color: red;
    border-radius: 5px;
}
.dashboard{
    background-color:#3C2317;
   
}

a{
    cursor: pointer;
}