<div class="container-fluid ">
    <p class="text-center m-3 head">Policy Claim</p>
    <div class="table-responsive m-5 mt-1">
        <table class="table table-bordered table-stripped ">
            <thead>
                <tr>
                    <th>Insurance Scheme</th>
                    <th>Claim Date</th>
                    <th>Amount</th>
                    <th>Approved</th>
                </tr>
            </thead>
            <tbody
                *ngFor="let item of data| paginate:{id:'listing_pagination',itemsPerPage:3,currentPage:page,totalItems:totalRecords};">
                <tr>
                    <td>{{item.schemeName}}</td>
                    <td>{{item.claimDate}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.approved}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls id="listing_pagination" [maxSize]="5" [directionLinks]="true"
                (pageChange)="page=$event"></pagination-controls>
        </div>
    </div>
</div>
