<div class="container-fluid ">
    <p class="text-center m-3 head">View Feedback</p>
    <div class="conatiner table-reponsive mt-2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Title</th>
                    <th>Message ID</th>
                    <th>Contact Date</th>
                    <th>Reply</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>