<div class="container-fluid ">
    <p class="text-center m-3 head">Policy Claim Records</p>
    <div class="mb-3 m-5" style="width:200px">
        <input class="form-control mr-sm-2 w-40 mr-2" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="table-responsive m-5">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Policy Date</th>
                    <th>Withdrawal Date</th>
                    <th>Bank Details</th>
                    <th>Withdrawal Amount</th>
                    <th>Withdrawal Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</div>