<div class="content container-fluid admin-bg">
    <div>
        <p class="text-center head">Welcome</p>
    </div>
    <div class="row m-2">
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/circle/profile-modified.png" alt="Profile">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="ProfileComponent">Profile
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/circle/customer-modified.png" alt="customer">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="viewcustomerComponent">View
                                    Customer</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/agentdp.jpg" alt="agent">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="viewagentcommisssion">View Agent
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/insurancetype.png" alt="insurance type">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="ViewinsurancetypeComponent">Insurnace Type
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/insurancescheme.png" alt="insurance scheme">

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="ViewinsuranceschemeComponent">Insurance Scheme
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/circle/policyclaim-modified.png"
                            alt="insurance plan">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="ViewinsuranceplanComponent">Insurance Plan
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class=" row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/state.png" alt="state">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="ViewstateComponent">View State
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/cityp.png" alt="viewcity">

                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="ViewcityComponent">View City
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6">
            <div class="card mb-3" style="width: 250px; height: 150px;">
                <div class="row m-2">
                    <div class="col">
                        <img class="card-img" src="assets/adminImg/emp.jpg" alt="viewemployee">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p><a routerLink="ViewemployeeComponent">View Employee
                                </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>