<div class="container-fluid ">
    <p class="text-center m-3 head">Commission</p>
    <div class="table-responsive m-5 mt-1">
        <table class="table table-bordered table-stripped ">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Customer Name</th>
                    <th>Date</th>
                    <th>Insurance Scheme</th>
                    <th>Commission Amount</th>
                    <th>Withdraw</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data | paginate:{id:'listing_pagination',itemsPerPage:6,currentPage:page,totalItems:totalRecords}">
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.customerName}}</td>
                    <td>{{item.buyDate}}</td>
                    <td>{{item.scheme}}</td>
                    <td>{{item.commissionAmount}}</td>
                    <td *ngIf="item.withdrawn==='no'" ><button class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal" (click)="storeData(item)">Withdraw</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls id="listing_pagination" [maxSize]="5" [directionLinks]="true" (pageChange)="page=$event"></pagination-controls>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Withdraw</h3>
                <p class="text-center"><button class="btn btn-warning" (click)="withdraw()">Proceed</button></p>
            </div>
        </div>
    </div>
</div>