<div class="container-fluid ">
    <p class="text-center m-3 head">View Insurance Plan</p>
    <div class="table-responsive m-5">
        <table class="table table-bordered ">
            <thead>
                <tr>
                    <th>Insurance Scheme</th>
                    <th>Policy Term Min</th>
                    <th>Policy Term Max</th>
                    <th>Min Age</th>
                    <th>Max Age</th>
                    <th>Min Investment Amount</th>
                    <th>Max Investment Amount</th>
                    <th>Profit Ratio</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of insurancePlanData">
                <tr>
                    <td>{{item.insurnaceSchemeName}}</td>
                    <td>{{item.minPolicyTerm}}</td>
                    <td>{{item.maxPolicyTerm}}</td>
                    <td>{{item.minAge}}</td>
                    <td>{{item.maxAge}}</td>
                    <td>{{item.minInvestAmount}}</td>
                    <td>{{item.maxInvestAmount}}</td>
                    <td>{{item.profitRatio}}</td>
                    <td>{{item.status}}</td>
                    <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            (click)="edit(item)">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="insurancePlan" (ngSubmit)="updateInsurancePlan()">

                    <div class="container">
                        <table class="table table-bordered table-striped mx-auto w-auto">
                            <thead>
                                <tr>
                                    <td colspan="2">Policy Term:</td>
                                </tr>
                                <tr>
                                    <td>Minimum:</td>
                                    <td><input type="text" class="form-control" name="minPolicyTerm"
                                            formControlName="minPolicyTerm" value={{formData.minPolicyTerm}}></td>
                                </tr>
                                <tr>
                                    <td>Maximum:</td>
                                    <td><input type="text" class="form-control" name="maxPolicyTerm"
                                            formControlName="maxPolicyTerm" value={{formData.maxPolicyTerm}}></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Age:</td>
                                </tr>
                                <tr>
                                    <td>Minimum:</td>
                                    <td><input type="text" class="form-control" name="minAge" formControlName="minAge"
                                        value={{formData.minAge}}>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Maximum:</td>
                                    <td><input type="text" class="form-control" name="maxAge" formControlName="maxAge"
                                        value={{formData.maxAge}}>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">Total Investment Amount:</td>
                                </tr>
                                <tr>
                                    <td>Minimum:</td>
                                    <td><input type="text" class="form-control" name="minInvestAmount"
                                            formControlName="minInvestAmount" value={{formData.minInvestAmount}}></td>
                                </tr>
                                <tr>
                                    <td>Maximum:</td>
                                    <td><input type="text" class="form-control" name="maxInvestAmount"
                                            formControlName="maxInvestAmount" value={{formData.minInvestAmount}}></td>
                                </tr>
                                <tr>
                                    <td>Profit Ratio:</td>
                                    <td><input type="text" class="form-control" name="profitRatio"
                                            formControlName="profitRatio" value={{formData.profitRatio}}>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td><select name="status" class="form-control" formControlName="status">
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center"><button class="btn btn-danger">Submit</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>