<div class="container-fluid ">
    <p class="text-center m-3 head">Employee Records</p>
    <div class="table-responsive m-5">
        <table class="table table-bordered table-stripped ">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Login ID</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of data  | paginate:{id:'listing_pagination',itemsPerPage:3,currentPage:page,totalItems:totalRecords}">
                <tr>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.loginId}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.state}}</td>
                    <td>{{item.status}}</td>
                    <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            (click)="edit(item)">Edit</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls id="listing_pagination" [maxSize]="5" [directionLinks]="true" (pageChange)="page=$event"></pagination-controls>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="employeeUpdate"  (ngSubmit)="updateEmployee()">

                    <div class="container">
                        <table class="table table-bordered table-striped mx-auto w-auto">
                            <thead>
                                <tr>
                                    <td>Login Id</td>
                                    <td><input type="text" class="form-control"
                                             value={{emp.loginId}}></td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td><select name="status" id="status" class="form-control" formControlName="status">
                                            <option value="active">Active</option>
                                            <option value="inactive">Inactive</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center"><button class="btn btn-danger">Submit</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>